@font-face {
    src: url(/assets/fonts/BadScript-Regular.ttf); // Путь к "рукописному шрифту +
    font-family: 'BadScript-Regular';
}

@font-face {
    src: url(/assets/fonts/Moniqa-LightParagraph.ttf); //Путь к "тонкому шрифту +
    font-family: 'Moniqa-LightParagraph';
}

@font-face {
    src: url(/assets/fonts/Moniqa-MediumHeading.ttf); // Путь к шрифту-Заголовок  +
    font-family: 'Moniqa-MediumHeading';
}

@font-face {
    src: url(/assets/fonts/Moniqa-SemiBoldParagraph.ttf); // Путь к шрифту-Заголовок блока +
    font-family: 'Moniqa-SemiBoldParagraph';
}

@font-face {
    src: url(/assets/fonts/Manrope-Light.ttf); //+
    font-family: 'Manrope-Light';
}

@font-face {
    src: url(/assets/fonts/Manrope-Medium.ttf); //+
    font-family: 'Manrope-Medium';
}


@font-face {
    src: url(/assets/fonts/Manrope-SemiBold.ttf); //+
    font-family: 'Manrope-SemiBold';
}